/* body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    min-height: 100vh;
} */

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
  }